{%  extends 'accounts/my_main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Arrears
						{% if filter.0 %}: All
						{% elif filter.1 %}: Active
						{% elif filter.2 %}: Closed
						{% elif filter.3 %}: Colectare
						{% elif filter.4 %}: Judecata
					{% endif %}</h5>
				</div>

				<div class="card card-body">
					<div class="dropdown">
  						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						  Status
  						</button>
  						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'arrears' %}">All</a>
							<a class="dropdown-item" href="{% url 'arrears_active' %}">Active</a>
  						  	<a class="dropdown-item" href="{% url 'arrears_closed' %}">Closed</a>
							<a class="dropdown-item" href="{% url 'arrears_collection' %}">Colectare</a>
							<a class="dropdown-item" href="{% url 'arrears_suing' %}">Judecata</a>
  						</div>
					</div>
					<br>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Total Principal</th>
                            <th scope="col">Total Outstanding Principal</th>
                            <th scope="col">Total Overdue Principal 30+</th>
                            <th scope="col">Danger Rate</th>
							<th scope="col">Total Overdue Interest</th>
                        </tr>
                    </thead>
                    <tbody>

						<tr>
							<td>{{profile.0}}</td>
							<td>{{profile.1}}</td>
							<td>{{profile.2}}</td>
							<td>{{profile.3}}%</td>
							<td>{{profile.4}}</td>
						</tr>

                    </tbody>
                </table>
                <br><hr><br><br>


					<table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Original Principal</th>
                            <th scope="col">Outstanding Principal</th>
							<th scope="col">Days Delinquent</th>
							<th scope="col">Principal Overdue</th>
							<th scope="col">Interest Overdue</th>
							<th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
						{% for contract in contracts %}
							<tr>
								<td><a href="{% url 'view_contract' contract.0 %}">{{contract.0}}</a></td>
								<td><a href="{% url 'client' contract.3 %}">{{contract.1}}</a></td>
								<td>{{contract.2.0.10}}</td>
								<td>{{contract.2.0.12}}</td>
								<td>{{contract.2.0.21}}</td>
								<td>{{contract.2.0.4}}</td>
								<td>{{contract.2.0.5}}</td>
								<td>{{contract.2.0.22}}</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>

{% endblock content %}