{%  extends 'accounts/my_main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<p>Sigur doriți să ștergeți clientul {{item.first_name}} {{item.last_name}}?</p>

			<form action="{% url 'delete_client' item.id  %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home' %}">Anulare</a>

				<input class="btn btn-danger" type="submit" name="Confirmă">
			</form>
		</div>
	</div>
</div>

{% endblock %}
